:root {
	--grid-item-width: 300px;
}

.grid-row {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
}

/* Logo in Navbar */
a.navbar-brand img {
  height: 6rem;
}

/* Laurel Gallery for production pages */
.laurel-gallery {
  padding: 5rem;
}

.laurel-gallery img {
  height: 85px;
  padding: 0.5rem;
  /* Gives a blue tint to white images */
  -webkit-filter: brightness(0.4) sepia(1) contrast(5) hue-rotate(-171deg);
  filter: brightness(0.4) sepia(1) contrast(5) hue-rotate(-171deg);
}
