img {
	max-width: 100%;
}

/* Logo in Navbar */
a.navbar-brand img {
	height: 6rem;
}

/* Laurel Gallery for production pages */
li>a>i.fa-brands {
	vertical-align: -.25rem;
}
.laurel-gallery {
	padding: 5rem;
}
.laurel-gallery img {
	height: 85px;
	padding: .5rem;
	
	/* Gives a blue tint to white images */
	-webkit-filter: brightness(0.4) sepia(1) contrast(5) hue-rotate(-171deg);
	filter: brightness(0.4) sepia(1) contrast(5) hue-rotate(-171deg);
}
