<div class="row">
    <div class="col-lg-12 text-center">
        {{ content|raw }}
    </div>
</div>
<aside class="clients">
    <div class="container">
        <div class="grid-row" style="--grid-item-width:200px;">
            {% for client in page.header.clients %}
                <div>
                    <a href="{{ client.url }}" title="{{ client.title }}" target="_blank">
                        <img src="{{ page.media[client.logo].url }}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</aside>
